/*페이지 디자인 관련*/

/*페이지 내부 타이틀 하단 라인*/
.page-subj:after{
    background:#ee3733;
}

/*폰트 강조 - 인사말 페이지에서 사용 */
span.dropcap3 {
    background: #ee3733;
    color: #fff;
}

/*조직도 - 로고 영역 배경*/
.biz-group .gr-logo{
	border:2px solid #333;
	border-radius:50%;
	background-color:#ee3733;
}

/*사업영역 - 링크 색*/
.proj-box a{
	font-size:12px;
	color:#333;
	border-bottom:1px dashed #ee3733;
}

/*사업영역 - 링크 오버시*/
.proj-box a:hover{
	color:#ee3733;
}