/* 모바일용 상단 메뉴 */

/* 상단영역 배경 */
#mobile-top{
	background-color:#333;
}

/* 메뉴보기 버튼 */
#mobile-top .menu-btn .menu-trigger span {
	background-color:#fff;
}

/* 모바일메뉴 배경 및 그림자 */
#mobile-menu {
  background:#fff;
  -webkit-box-shadow:0 1px 2px #000;
  -moz-box-shadow:0 1px 2px #000;
  -o-box-shadow:0 1px 2px #000;
  box-shadow:0 1px 2px #000;
}

/* 메뉴 오픈시 뒤에 깔리는 오버레이 */
.mm-overlay{
  background-color:rgba(0,0,0,0.5);
}

/* 메뉴 내부 검색 영역 */
.mobile-menu .mm-search {
  color:#555555;
  background-color:#eee;
}

/* 메뉴 내부 검색 영역 입력창 */
.mobile-menu .mm-search input{
	border:1px solid #fff !important;
}

/* 메뉴 목록 */
.mobile-menu li.mmenu{
  border-bottom:1px solid #eee;
}

/* 메뉴 목록 및 서브메뉴 배경 */
.mobile-menu li.mmenu,
.mobile-menu li.ms-menu{
  background-color:#fff;
}

/* 메뉴 목록의 링크 */
.mobile-menu li.mmenu a{
  color:#000;
}

/* 메뉴 목록 링크 오버시 */
.mobile-menu li.mmenu a:hover{
	color:#e94de4;
}

/* 메뉴 목록 우측 + 버튼 */
.mobile-menu li.mmenu a i{
	color:#999;
}

/* 메뉴 목록에서 메뉴 선택시 */
.mobile-menu li.mmenu a.active {
  color:#fca001;
}

/* 서브메뉴 내부 */
.mobile-menu li.mmenu li {
  background:#eee;
  border-top:1px solid #ddd;
}

/* 메뉴 오픈 시 닫기 버튼 */
#mobile-menu .mobile-menu-close{
	background:#fff;
	color:#999;
}