/*이미지에 마우스 오버시 이펙트*/


/*이미지를 덮는 오버레이*/
.img-over-animate .img-hover-wrap .img-over-ef:hover{
	background-color:rgba(0,0,0,0.3);
}

/*버튼*/
.img-over-animate .img-hover-wrap .circle{
	background-color:#fff;
	border-radius:50%;
	-webkit-transition:background 0.35s ease-out;
	-moz-transition:background 0.35s ease-out;
	-o-transition:background 0.35s ease-out;
	transition:background 0.35s ease-out;
    color:#000;
}

/*버튼 폰트 링크*/
.img-over-animate .img-hover-wrap .circle a{
	color:#000;
	font-size:20px;
	line-height:20px;
}

/*버튼 오버시*/
.img-over-animate .img-hover-wrap .circle:hover,
.img-over-animate .img-hover-wrap .circle:hover a{
	background:#e94de4;
	color:#fff;
}

/*오버시 나오는 정보 레이어 배경*/
.img-over-animate .img-hover-wrap .info-wrap{
	background-color:#e94de4;
}

/*오버시 나오는 정보의 타이틀*/
.img-over-animate .img-hover-wrap .info-wrap a{
	color:#fff;
	font-size:16px;
	line-height:16px;
}

/*오버시 나오는 정보의 타이틀 오버시 */
.img-over-animate .img-hover-wrap .info-wrap a:hover{
	color:#333;
}

/*오버시 나오는 정보의 캡션*/
.img-over-animate .img-hover-wrap .info-wrap p{
	color:#fff;
	font-size:12px;
	line-height:12px;
}